<nav>
  <div>Brand name</div>
  <div>
    <a href="#!">About</a>
    <a href="#!">Contact</a>
    <a href="#!">Vision</a>
    <a href="#!">Company</a>
  </div>
</nav>
<header class="main_header">
  <h1>this is saas bassics </h1>
  <p>We are implementimg sass basics</p>
</header>
<div class="container">
  <div class="wrapper">

    <div class="item-1">
      <p>1</p>
    </div>
    <div class="item-2">
      <p>2</p>
    </div>
    <div class="item-3">
      <p>3</p>
    </div>
    <div class="item-4">
      <p>4</p>
    </div>
    <div class="item-5">
      <p>5</p>
    </div>
    <div class="item-6">
      <p>6</p>
    </div>


  </div>
</div>