<nav>
  <div class="brand">Brand name</div>
  <div>
    <a href="#!">About</a>
    <a href="#!">Contact</a>
    <a href="#!">Vision</a>
    <a href="#!">Company</a>
  </div>
</nav>
<header class="main_header">

  <h1>this is saas bassics </h1>
  <p>We are implementimg sass basics</p>

  <div class="btn-container">
    <button>GO</button>
    <button>Explore more</button>

  </div>
</header>
<div class="container">
  <div class="wrapper">

    <div class="item-1">
      <p> 1
        <i class="fa fa-car fa-lg"></i>
      </p>

    </div>
    <div class="item-2">
      <p>2
        <i class="fa fa-hand-o-left fa-2x"></i>

      </p>
    </div>
    <div class="item-3">
      <p>3
        <i class="fa fa-hand-o-right fa-2x"></i>
      </p>
    </div>
    <div class="item-4">
      <p>4 <i class="fa fa-hand-o-up fa-2x"></i></p>
    </div>
    <div class="item-5">
      <p>5 <i class="fa fa-hand-o-down fa-2x"></i></p>
    </div>
    <div class="item-6">
      <p>6 <i class="fa fa-thumbs-o-down fa-2x"></i></p>
    </div>


  </div>
</div>

<footer>

  <div>@mixins & @include _variables partials imports</div>
  <div class="icons">
    <i class="fa fa-youtube-play"></i>
    <i class="fa fa-whatsapp"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-pinterest-square"></i>
    <i class="fa fa-linkedin-square"></i>
  </div>

</footer>