<!-- <nav class="navbar" style="background:#dd0031; ">
  <a href="/" class="navbar__logo" style="color: white;">Angular Template</a>
  <div class="navbar__bars"><i class="fas fa-bars"></i></div>
  <div class="navbar__menu">

    <div class="theme-options">
      <a (click)="showThemeOptions = !showThemeOptions" class="navbar__menu--links"><i
          class="fas fa-palette"></i>Theme</a>
      <ul *ngIf="showThemeOptions">
        <li>
          <span>Custom</span>
          <ul class="themeMode">
            <li (click)="themeChange('custom-light')">Light</li>
            <li (click)="themeChange('custom-dark')">Dark</li>
          </ul>
        </li>
        <li>
          <span>Bootstrap</span>
          <ul class="themeMode">
            <li (click)="themeChange('bootstrap-light')">Light</li>
            <li (click)="themeChange('bootstrap-dark')">Dark</li>
          </ul>
        </li>
        <li>
          <span>Material</span>
          <ul class="themeMode">
            <li (click)="themeChange('material-light')">Light</li>
            <li (click)="themeChange('material-dark')">Dark</li>
          </ul>
        </li>
      </ul>
    </div>
     <a href="/" class="navbar__menu--links">Endpoints</a>
    <a href="/" class="navbar__menu--links">Customers</a>
    <a href="/" class="navbar__menu--links">Data Matrices</a> 
    <button
      style="background: #dd0031;border:3px solid white ;color:white; width: 120px; height: 35px; font-size: 16px;">BUY
      NOW</button>

  </div>
</nav> -->

<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf='!sidenav.opened'>menu</mat-icon>
    <mat-icon *ngIf='sidenav.opened'>close</mat-icon>
  </button>
  Angular Template

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened color="primary" #sidenav>
    <button mat-button class="menu-button">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>assignment</mat-icon>
      <span>Forms</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>table</mat-icon>
      <span>Table</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>trending_up</mat-icon>
      <span>Chart</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      Sidenav content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>