<footer>
    <div class="footer-wrapper">
        <p style=" font-size: large; position: absolute;top: 10px; left: 10px; color: white;">&#169; PCS GLOBAL PVT. LTD 2021 </p>
        <div class="icons-wrapper">

            <i class="fab fa-google-plus" aria-hidden="true"></i>
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <i class="fab fa-github" aria-hidden="true"></i>
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <i class="fab fa-twitter" aria-hidden="true"></i>
        </div>
        <p style=" font-size: large; position: absolute;top: 10px; right: 10px;color: white;"> All Rights reserves @PCS GLOBAL LTD</p>
    </div>
</footer>