<div class="wrapper">
    <div class="content-wrapper">
        <section class="banner">
            <div class="banner-content">
                <h2>This is the landing page of this application</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit omnis aut inventore mollitia repellendus architecto consequatur esse accusantium dignissimos modi.olore animi soluta quo aliquam iure! Aspernatur eligendi quae qui in nulla
                    corrupti optio libero totam tenetur illum. Nulla tempore iusto vitae corporis quis natus, pariatur</p>
                <button class="banner-btn">Started creating posts</button>
            </div>
        </section>
    </div>
    <div class="content-wrapper">
        <section class="section2">
            <div class="section2-outer-div">
                <div class="badge" style="text-align: center; margin-top: 10px;">
                    <i class="fas fa-medal"></i>

                    <h2>This is the section2 of page</h2>


                </div>
                <div class=" section2-inner-div">
                    <div class="section2-content">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque architecto laborum doloremque distinctio. Aperiam nihil dignissimos voluptates quod eaque natus beatae architecto maiores perferendis, veritatis atque omnis eveniet
                            qui quis repudiandae explicabo, quaerat officiis, error dolore animi soluta quo aliquam iure! Aspernatur eligendi quae qui in nulla corrupti optio libero totam tenetur illum. Nulla tempore iusto vitae corporis quis natus, pariatur
                        </p>
                        <button class="learn-more-btn">Learn More</button>
                    </div>
                    <div class="section2-img">
                        <img src="../../assets/vector.jpeg" alt="section2 image" style="width: 100%;">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="content-wrapper">
        <section class="section3">
            <div class="section3-description">
                <h5>it's designed for describing your posts, agency or business</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto est, aperiam neque mollitia commodi fugit libero sit laborum! Nesciunt, quod!</p>
                

            </div>
            <div class="department-container">
                <div class="department">
                    <i class="fas fa-medal"></i>
                    <h6>Business</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>

                <div class="department">
                    <i class="fas fa-building"></i>
                    <h6>Digital Design</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
                <div class="department">
                    <i class="fas fa-ice-cream"></i>
                    <h6>Food</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
                <div class="department">
                    <i class="fas fa-book"></i>
                    <h6>Experiments</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
                <div class="department">
                    <i class="fas fa-school"></i>
                    <h6>Education</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
                <div class="department">
                    <i class="fas fa-hospital"></i>
                    <h6>Health</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>

                </div>
                <div class="department">
                    <i class="fas fa-school"></i>
                    <h6>Banking</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
                <div class="department">
                    <i class="fas fa-school"></i>
                    <h6>Insurance</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
                <div class="department">
                    <i class="fas fa-laptop"></i>
                    <h6>Others</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi.</p>
                </div>
            </div>
        </section>
    </div>

</div>