<div class="container-fluid">
  <div class="bg-info text-white p-3">
    <h3 class="text-center">Angular Pipes</h3>
    <h5>Pipes are used to format the data before displaying in the view . Pipe is used by using | .
      This symbol is called pipe operator</h5>
    <h5>Lets see some of built-in pipes and how they work</h5>

    <div class="bg-dark text-white p-2">
      <p><i> <mark class="p-0">Date pipe</mark> : "expression | pipename"</i></p>
      <p> Unformatted date : {{toDate }} </p>
      <p> Formatted date : {{toDate | date}} </p>

      <h5> <mark>Passing Arguments to the pipe</mark></h5>
      <h6>We can also pass optional arguments to the pipe. The arguments are added to the pipe using a colon (:) sign
        followed by
        the value of the argument. If there are multiple arguments separate each of them with the colon (:). For
        example, we can
        pass the format as the argument to the date pipe, which is Optional. The medium is one of the valid value of the
        format
        argument, which displays the date in yMMMdjms format.</h6>

      <p> Formatted date : {{toDate | date:'medium'}} </p>
      <p>short : {{toDate | date:'short'}} </p>
      <p>fullDate : {{toDate | date:'fullDate'}} </p>
      <p>longDate : {{toDate | date:'longDate'}} </p>
      <p>mediumDate : {{toDate | date:'mediumDate'}} </p>
      <p>shortDate : {{toDate | date:'shortDate'}} </p>
      <p>mediumTime : {{toDate | date:'mediumTime'}} </p>
      <p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
      <p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>

      <h5>
        <mark>Pipes Chaining</mark>
      </h5>
      <h6>Pipes can be chained together to make use of multiple pipes in one expression. For example in the following
        code, the
        toDate is passed to the Date Pipe. The output of the Date pipe is then passed to the uppercase pipe.</h6>
      <p>{{toDate|date|uppercase}}</p>

      <h5>
        <mark>Angular Built-in Pipes</mark>
      </h5>
      <h6>The Angular has several built-in pipes, which you can use in your applicationbr
        <br><br>
        Some of the important pipes are <mark>Date Pipe</mark>, <mark>Uppercase Pipe</mark>, <mark>Lowercase
          Pipe</mark>,
        <mark>Number Pipe/ Decimal Pipe</mark>, <mark>Currency Pipe</mark> ,<mark>Percent Pipe</mark>

      </h6><br>

      <h5><mark>UperCase & LowerCase pipe & TitleCase pipe</mark></h5>
      <h6>As the name suggest these pipes transform the string to Uppercase or lowercase</h6>
      <p>Unformatted :{{msg}} </p>
      <p>Uppercase :{{msg | uppercase}} </p>
      <p>Lowercase :{{msg | lowercase}} </p>
      <p>Titlecase :{{msg | titlecase}} </p><br>

      <h5> <mark>Slice pipe</mark></h5>
      <h6>Creates a new List or String containing a subset (slice) of the string or array.</h6>
      <i class="text-danger">array_or_string_expression | slice:start[:end]</i><br>
      <b> <span class="text-danger">array_or_string_expression:</span> is the string to slice</b><br>
      <b><span class="text-danger">start:</span> is the start position/index from where the slicing will start</b><br>
      <b><span class="text-danger">end:</span> is the ending index/position in the array/string</b><br>

      <p>Complete String :{{msg}} </p>
      <p>Example 1 :{{msg | slice:11:20}} </p>
      <p>Example 2 :{{msg | slice:-9}} <br>

        <small>The slice pipes take two arguments. The first argument start is the starting index of the string/array.
          The
          second
          argument end is the ending index of the string/array. If the start or end index is negative then the index is
          counted
          from end of the string/array</small> <br>


      <h5>
        <mark>Currency Pipe</mark>
      </h5>
      <h6>Formats a number as currency using locale rules.</h6>
      <h3>number_expression | currency[:currencyCode[:symbolDisplay]]</h3>

      <h5>
        <p class="text-white"><span class="text-primary">currencyCode:</span> is the ISO 4217 currency code, such as USD
          for the US dollar and EUR for the euro. <br>
          <span class="text-primary">symbolDisplay</span> is a boolean indicating whether to use the currency symbol or
          code. Use true to display symbol and false
          to use code
        </p>
      </h5>
      <p>Unformatted :{{cur}} </p>
      <p>Example 1 :{{cur | currency }} </p>
      <p>Example 2 :{{cur | currency:'INR':true}} </p><br>


      <h5>
        <mark>Custom Pipe</mark>
      </h5>
      <h6>transforming the first text in uppercase using custom-pipe</h6>

      <p>Unformated text : {{text}}</p>
      <p>Unformated text : {{text | customPipe}}</p>
    </div>

  </div>
</div>