body[theme="custom-dark"] {
    --btn-background: var(--clr-black);
    --moon: var(--clr-white);
    --banner-background: var(--clr-dark-gray);
    --section3-background: var(--clr-gray-cloud);
    --icon-clr: var(--clr-white);
    --text-clr: var(--clr-white);
    --header-background: var(--clr-granite-gray);
    --footer-background: var(--clr-granite-gray);
}