body[theme="custom-dark"] {
    --acquamarine: #33ffba;
    --cadetblue: #7fb1b3;
    --yellow-green:#aed75b;
    --light:#222121;
    --dark:  #f7f7f7;
 
}
body[theme="custom-light"] {
 
  --acquamarine: #33ffba;
  --cadetblue: #7fb1b3;
 --yellow-green:#aed75b;
  --light: #f7f7f7;
  --dark: #222121;
 
   
 
}