<!-- <div class="container-fluid">
    <div class="bg-dark text-warning p-2">
        <div class="text-center">
            <p>Static data coming from /categories route</p>
            <small class="text-white">
                {{data.name}}
            </small>
            <small class="text-danger">
                {{data.quantity}}
            </small>
            <small class="text-danger">
                {{data.saler}}
            </small>
        </div>
    </div>
</div> -->
<p>categories works!</p>