%align-center {
  display: flex;
  align-items: center;
}

%center-items
{
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

%cursor-pointer
{
  cursor: pointer;
}

.navbar {
  background: var(--light);
  
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2vw;
  z-index: 10;
  // position: relative;
  position: fixed;
  width: 100%;

  &__logo {
    color: var(--dark);
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align-center;
  }

  &__bars {
    opacity: 0;

  
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

 

    &--links {
      color: var(--dark);
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: var(--blue);
        transition: all 0.3s ease;
      }
    }

    #button {
      padding: 12px 24px;
      border: none;
      outline: none;
      border-radius: 4px;
      margin-left: 16px;
      color: var(--dark);

      &:hover {
        background: var(--blue);
        transition: all 0.3s ease;
      }
    }
  }
}
// ======================================
.theme-options {
  position: relative;


  ul {
    position: absolute;
    top: 26px;
    
    li {
      display: block;
      

      background: var(--dark);
      padding: 10px;
      color: var(--light);
      box-shadow: var(--light);
      position: relative;
      @extend %cursor-pointer;
      ul {
        display: none;
        position: absolute;
        top: 18px;
        left: 80px;
      }

      &:hover ul {
        display: block;

        li 
        {
          
          @extend %cursor-pointer;
        }
      }
    }
  }
}
