.root 
{
    --light: #f7f7f7;
    --dark: #222121;
    --black:#000000;
    --black-100: #A0A0A0;
    --black-200:#808080;
    --black-300:#606060;
    --black-400:#404040;
    --black-500:#202020;

    --header : #dd0031;




}

