$bg-color: #f2f2f2;
$text-color: rgb(100, 98, 100);
$heading-color: rgb(150, 120, 130);
$nav-background:cornflowerblue;
$button-background:rgb(118, 166, 255);
$black:#000000;
$black-100: #A0A0A0;
$black-200:#808080;
$black-300:#606060;
$black-400:#404040;
$black-500:#202020;

